version: "3.9"

services:
  redis:
    image: redis:7
    container_name: minventar-redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres:15
    container_name: minventar-postgres
    environment:
      POSTGRES_DB: postgres_test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
